<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <main>
                <h2>
                    Here I will show the user Details.
                </h2>
            </main>
            <%- include('./includes/end.ejs') %>