<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h2>
                    Send request to the Data Owner for downloading files.
                </h2>
            </main>
            <%- include('../includes/end.ejs') %>